<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<body>
	<div th:fragment="delete-modal(modalTitle,modalMessage,endpoint)" class="modal fade" th:id="${'deleteModal-' + endpoint}"
		tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel" th:text="${modalTitle}"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="#" th:action="@{{endpoint}/delete(endpoint=${endpoint})}"
						th:method="DELETE">
						<span th:text="${modalMessage}"></span>
						<input type="hidden" name="id" th:id="${'delete-' + endpoint + '-id'}">
						<button type="submit" th:id="${'deleteSubmit-' + endpoint}" class="d-none"></button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button th:id="${'delete-' + endpoint + '-confirm-button'}" type="button"
						class="btn btn-primary" th:attr="onclick=|actionDelete('${'deleteSubmit-' + endpoint}')|">Delete</button>
				</div>
			</div>
		</div>
	</div>
</body>