<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<body>
	<div th:fragment="notes-list" class="table-responsive">
		<table class="table table-striped" id="userTable">
			<thead>
				<tr>
					<th style="width: 20%" scope="col"></th>
					<th style="width: 20%" scope="col">Title</th>
					<th style="width: 60%" scope="col">Description</th>
				</tr>
			</thead>
			<tbody th:each="note:${notes}" id="notes-table-body">
				<tr>
					<td>
						<button type="button" class="btn btn-success"
							id="edit-note-button"
							th:onclick="showNoteModal([[${note.getId()}]],[[${note.getTitle()}]],
							[[${note.getDescription()}]],[[${note.getUserid()}]])">Edit
						</button>
						<button type="button" class="btn btn-danger"
							id="delete-note-button"
							th:onclick="showDeleteNoteModal([[${note.getId()}]])">Delete
						</button>
					</td>
					<th id="table-noteTitle" th:text="${note.getTitle()}"
						scope="row">Example Note Title</th>
					<td id="table-noteDescription" th:text="${note.getDescription()}">Example Note
						Description</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>